:root{
    --primary: #2143da;
    --bg: rgb(238, 241, 250);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: rgb(221, 223, 224);
    min-height: 4000px;
    overflow-x: hidden;
}

/* navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(8, 39, 99, 0.986);
    border-bottom: 1px solid rgb(48, 83, 182);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* hero section */
.hero{
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%), url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero::after {
content: '';
display: block;
position: absolute;
width: 100%;
height: 100%;
background:linear-gradient(0deg,rgba(5, 1, 1, 0.3), rgba(255, 255, 255, 0)25%);

}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5rem;
    color: rgb(27, 125, 206);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    list-style: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.navbar .navbar-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}



/* profil section */
.profil {
    padding: 10rem 0 1.4rem;
    text-align: center;
    background-color: rgb(13, 28, 95);
}

.profil h2 {
    font-size: 3rem;
    padding-left: 7%;
    padding-right: 7%;
}

.profil .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
}

.profil .row .profil-img {
    flex: 1 1 25rem;
}

.profil .row .profil-img img {
    max-width: 100%;
    height: auto;
}

.profil .row .profil {
    flex: 1 1 35rem;
    padding: 0 1rem;
    text-align: left;
}

.profil .row .profil h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.profil .row .profil p {
    font-size: 1.4rem;
}

/* Anggota */
.anggota p {
    text-align: center;
    margin: auto;
    padding-left: 7%;
    padding-right: 7%;
}

.anggota {
    padding: 10rem 0 1.4rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%), url('../img/header-bg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.anggota h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(27, 125, 206);
    padding-left: 7%;
    padding-right: 7%;
}
.anggota h2 {
    text-align: center;
    font-size:3rem;
    margin-bottom: 3rem;
}

.anggota h2 span {
    color: var(--primary);
}

/* ukuran gambar anggota */
.anggota-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-left: 7%;
    padding-right: 7%;
}

.anggota-card {
    text-align: center;
}

.anggota-card-img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.anggota-card-title {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* ukuran gambar anggota akhir */

/* galeri section */
.galeri {
    padding: 10rem 0 0;
    text-align: center;
    height: auto;
    background-color:rgb(13, 28, 95);
}

.galeri h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(27, 125, 206);
    padding-left: 7%;
    padding-right: 7%;
}

.galeri h2 span {
    color: var(--primary);
}

.galeri p {
    text-align: center;
    margin: auto;
    padding-left: 7%;
    padding-right: 7%;
}

.galeri-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-left: 7%;
    padding-right: 7%;
}

.galeri-item {
    text-align: center;
}

.galeri-item img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

/* credit section */
.credit {
    padding: 10rem 0 1.4rem;
    text-align: center;
    min-height: 70vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 50%), url('../img/header-credit.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.credit:hover {
    background-color: rgb(13, 28, 95);
}

.credit:hover p {
    color: white;
}

.credit:hover h2 {
    color: white;
}



.credit p {
    color: white;
    font-size: 4rem;
    padding-left: 7%;
    padding-right: 7%;
}

.credit h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    padding-left: 7%;
    padding-right: 7%;
}

.credit h2 span {
    color: var(--primary);
}

.credit .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
}

.credit .row .credit-img {
    padding: 1.4rem 0;
    max-width: 60rem;
    text-align: center;
}

.credit .row .credit-img h1 {
    font-size: 5rem;
    color: rgb(27, 125, 206);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
}

.credit .row .credit-img h1 span {
    color: var(--primary);
}

.credit .row .credit-img p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    color: rgb(27, 125, 206);
}

.credit .row .profil {
    flex: 1 1 35rem;
    padding: 0 1rem;
    text-align: left;
}

.credit .row .profil h3 {
    font-size: 1.8rem;}

.credit .row .profil p {
    font-size: 1.4rem;
}

/* foother */
footer {
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 0;
    background-color: rgb(13, 28, 95);
}

footer .socials {
 padding: 1rem 0;
}

footer .socials a {
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: white;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: white;
    font-wheight: 400;
}

/* media queries */
/* leptop */
@media (max-width: 1366px) {
html {
    font-size: 75%;}
}
/* tablet */
@media (max-width: 768px) {
html {
    font-size: 62.5%;
}

#hamburger-menu {
    display: inline-block;
}

.navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(9, 15, 37);
    width: 30rem;
    height: 100vh;
    transition: right 0.3s ease;
}

.navbar .navbar-nav.active {
    right: 0;
}

.navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.profil .row {
    flex-wrap: wrap;
}

.profil .row .profil-img img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
}